body {
    background-color: red;
    
}

.comprar-plan {
    margin-left: 870px;
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  
  .comprar-plan:hover {
    background-color: #ffae00bd;
  }

  #mensaje-h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  .plan-seleccionado {
    color: white;
    font-size: 20px;
  }

  .comenzar  {
    margin-top: 120px;
    margin-left: 900px;
    padding: 20px;
    text-decoration: none;
    cursor: pointer; 
    
  }

  .calculador {
    margin-top: 60px;
    margin-left: 720px;
  }

